#modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  top: 20vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

#modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.form-group {
  padding: 10px;
}

.btn {
  margin-right: 4px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid orangered;
}
