<app-backdrop [visible]="visible"></app-backdrop>

<form class="form" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
  <div id="modal" [class]="{ visible: true === visible }">
    <div class="form-group">
      <h1>Add Your Movie</h1>
    </div>
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      <input
        ngModel
        required
        type="text"
        name="title"
        id="title"
        placeholder="Film title"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Description</label>
      <textarea
        ngModel
        type="text"
        name="description"
        id="description"
        placeholder="Film description"
        class="form-control"
        rows="2"
      >
      </textarea>
    </div>
    <div class="form-group">
      <label for="image-url" class="form-label">Image URL</label>
      <input
        ngModel
        required
        type="text"
        name="imageUrl"
        id="image-url"
        placeholder="Film image URL"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="rating" class="form-label">Rating</label>
      <input
        ngModel
        required
        type="number"
        step="1"
        max="5"
        min="1"
        name="rating"
        id="rating"
        placeholder="Film rating"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <button type="button" class="button" (click)="onCancel(formRef)">
        Cancel
      </button>
      <button type="submit" class="button" [disabled]="formRef.invalid">
        Add
      </button>
    </div>
  </div>
</form>
