<div class="row">
  <div class="col-12">
    <h1>Movie Administration</h1>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Rating</th>
          <th scope="col">UserId</th>
          <th scope="col">UpdatedAt</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies$ | async; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ movie.title }}</td>
          <td>{{ movie.rating }}</td>
          <td>{{ movie.userId }}</td>
          <td>{{ movie.updatedAt }}</td>
          <td>
            <button class="btn btn-link" (click)="OnEdit(movie.id)">Edit</button>
            <button class="btn btn-link" (click)="OnDelete(movie.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
