footer {
  background-color: var(--color-dark-grey);
  padding: 0.5em 0;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > div {
  margin: 0 1rem;
}
