<div class="page">
  <h1>{{ isSignInMode ? "Signin" : "Signup" }}</h1>

  <app-alert
    *ngIf="errorMessage"
    [message]="errorMessage"
    (close)="onCloseErrorMessage()"
  >
  </app-alert>

  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form
    class="form"
    #formRef="ngForm"
    (ngSubmit)="onSubmit(formRef)"
    *ngIf="!isLoading"
  >
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        placeholder="Your email"
        autocomplete="username"
        required
        email
      />
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        placeholder="Your password"
        autocomplete="current-password"
        required
        minlength="6"
      />
    </div>

    <div class="form-group">
      <button type="submit" class="button" [disabled]="formRef.invalid">
        {{ isSignInMode ? "Signin" : "Signup" }}
      </button>
      <button type="button" class="button" (click)="onSwitchMode()">
        Switch to {{ isSignInMode ? "Signup" : "Signin" }}
      </button>
    </div>
  </form>
</div>
